# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# OS
.DS_Store
Thumbs.db

# Archive folder
archive/

# Dataset folders (images and labels)
**/train/images/
**/train/labels/
**/test/images/
**/test/labels/
**/valid/images/
**/valid/labels/
